<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加新视频信息</h1>
<form id="form1" name="form1" method="post" action="/videosnew">
    <fieldset>
        <legend>添加视频
            <div>
                <label>分类</label>
                <div class="input">
                    <input name="videoFenlei"> 
                </div>
                <label>名字</label>
                <div>
                    <input name="videoName">
                </div>
            </div>
            <div>
                <button type="submit">添加</button>
                <button type="reset">取消</button>
            </div>
        </legend>
    </fieldset>
</form>
</body>
<!--<script type="javascript">-->
    <!--function check(){-->
        <!--Document.findById("form1").submit();-->
    <!--}-->
<!--</script>-->
</html>